html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tic-tac-box {
    width: 60%;
    aspect-ratio: 1/1;
}

.tic-tac-tile {
    width: 33%;
    aspect-ratio: 1/1;
    margin: auto;
    margin-bottom: 0.5%;
    text-align: center;
    align-content: center;
    font-size: 11vw;
    background-color: white;
}